<%= form_with(model: graph_traversal_klass, local: true) do |form| %>
  <% if graph_traversal_klass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(graph_traversal_klass.errors.count, "error") %> prohibited this graph_traversal_klass from being saved:</h2>

      <ul>
        <% graph_traversal_klass.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :json_data %>
    <%= form.text_area :json_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
